<!DOCTYPE html>
<html lang="en">
	{% include '_header.html' %}

	<body>
		<div class="text-center" id="login_container">
			<form id="login_form" method="POST" action="{{ url_for('auth.login') }}" autocomplete="off">
				{{ form.csrf_token }}

				<label for="username" class="sr-only">Username</label>
				{{ form.username(class_="form-control", placeholder="Username", autofocus=true, required=true) }}

				<label for="password" class="sr-only">Password</label>
				{{ form.password(class_="form-control", placeholder="Password", required=true) }}

				<div class="checkbox mb-3">
					<label>{{ form.rememberme() }} Remember me</label>
				</div>
				
				<button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
			</form>
		</div>

		{% include '_scripts.html' %}

		{% if error %}
		<script>
			notifyError('{{ error }}');
		</script>
		{% endif %}
	</body>
</html>