html, body {
	height: 100%;
}

.color-red {
	color: red;
}

.nowordbreak {
	word-break: keep-all;
	white-space: nowrap;
}

.extralarge-modal {
	max-width: 1140px !important;
}

.nopadding {
	padding: 0 !important;
}

#login_container {
	height: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}

#login_form {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}

#login_form .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	padding: 10px;
	font-size: 16px;
}

#login_form .form-control:focus {
	z-index: 2;
}

#login_form #username {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

#login_form #password {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#login_form #rememberme {
	font-weight: 400;
}