<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

	<link href="{{ url_for('static', filename='css/fontawesome-all.min.css') }}" rel="stylesheet">

	<link href="{{ url_for('static', filename='css/bootstrap-table.min.css') }}" rel="stylesheet">

	<link href="{{ url_for('static', filename='css/animate.css') }}" rel="stylesheet">

	<link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">

	<title>WebTorz</title>
</head>