<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-table.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-notify.min.js') }}"></script>

<script type="text/javascript" src="{{ url_for('static', filename='js/handlebars-v4.0.11.js') }}"></script>

{% raw %}
<script id="notify-template" type="text/x-handlebars-template">
	<div data-notify="container" class="col-11 col-sm-3 alert alert-{0}" role="alert">
		<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>
		<span data-notify="icon"></span> <span data-notify="title">{1}</span> <span data-notify="message">{2}</span>
		<div class="progress" data-notify="progressbar">
			<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
		</div>
		<a href="{3}" target="{4}" data-notify="url"></a>
	</div>
</script>
{% endraw %}

<script>
	var CSRF_TOKEN = '{{ csrf_token() }}';

	var NOTIFY_TEMPLATE = Handlebars.compile(document.getElementById('notify-template').innerHTML);

	function formatBytes(bytes,decimals) {
		if (bytes == 0) return '0 Bytes';
		var k = 1024,
		dm = decimals || 2,
		sizes = ['Bytes','KB','MB','GB','TB','PB','EB','ZB','YB'],
		i = Math.floor(Math.log(bytes) / Math.log(k));
		return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i];
	}

	function notify(icon,title,message,type) {
		$.notify({
			icon: icon,
			title: title,
			message: message,
			target: '_blank'
		},{
			element: 'body',
			type: type,
			template: NOTIFY_TEMPLATE()
		});
	}

	function notifyError(message) {
		notify('fas fa-exclamation-triangle','',message,'danger');
	}

	function notifyWarning(message) {
		notify('fas fa-exclamation-circle','',message,'warning');
	}

	function notifySuccess(message) {
		notify('fas fa-check-circle','',message,'success');
	}
</script>

<script>
	$(document).ready(function() {
		var currentPage = window.location.pathname;
		$("#navbar ul li a[href='" + currentPage + "']").parent().addClass("active");
	});
</script>